################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageComparisonRanker/obj/Debug
/ImageComparisonRanker/bin/Debug
/packages
/ImageComparisonRanker/ImageComparisonRanker.csproj.user
